---
title: Cole Peters | Colophon
layout: "layout"
---

<a class="open_sesame small_only"><i class="fa fa-bars"></i></a>

<section class="binders_full_of_content">
    <header>
        <bm>Colophon</bm>
    </header>
    <article>
        <p>
            <bm>Code</bm>
            Written in HTML, <%= link_to 'Sass', 'http://sass-lang.com' %>, and <%= link_to 'jQuery', 'http://jquery.com' %>. Developed with <%= link_to 'Bourbon', 'http://bourbon.io' %> and <%= link_to 'Bourbon Neat', 'http://neat.bourbon.io' %>. Built with <%= link_to 'Middleman', 'http://middlemanapp.com' %>. Written in <%= link_to 'Sublime Text 2', 'http://sublimetext.com' %>.
        </p>

        <p>
            <bm>Typography</bm>
            Set in <%= link_to 'Whitney', 'http://www.typography.com/fonts/whitney/overview/' %>, a typeface by <%= link_to 'Hoefler &amp; Frere-Jones', 'http://www.typography.com' %>, delivered by their <%= link_to 'cloud.Typography', 'http://www.typography.com/cloud/welcome/' %> web font service.
        </p>

        <p>
            <bm>&amp;c.</bm>
            First published September 2013 with Rails, republished December 2013 with Middleman. Design and article content &copy; 2013 Cole Peters. Thanks for visiting!
        </p>