---
title: Cole Peters
layout: "layout_front"
---

<section>
    <header>
        <bm>Cole Peters</bm>
    </header>
    <article>
        <p>Craftsman &amp; noise maker<br>
        <em>Born in Canada; based in England</em></p>
    </article>
    <article>
        <p class="block title">contents:</p>
        <ul class="contents_list">
            <li><%= link_to 'Hello', 'hello.html' %></li>
            <li><%= link_to 'Artefacts', 'artefacts.html' %></li>
            <li><%= link_to 'Archives', 'archives.html' %></li>
            <li><%= link_to 'Colophon', 'colophon.html' %></li>
        </ul>
    </article>
    <article>
        <p class="block title">elsewhere:</p>
        <ul class="contents_list">
            <li><a href="http://blog.colepeters.com">Blog</a></li>
            <li><a href="http://twitter.com/cole_peters">Twitter</a></li>
            <li><a href="http://github.com/colepeters">GitHub</a></li>
            <li><a href="http://dribbble.com/colepeters">Dribbble</a></li>
            <li><a href="http://cole.vsco.co">VSCO Grid</a></li>
            <li><a href="http://colepeters.bandcamp.com">BandCamp</a></li>
            <li><a href="http://soundcloud.com/colepeters">Soundcloud</a></li>
            <li><a href="http://rdio.com/people/colepeters">Rdio</a></li>
            <li><a href="http://www.youtube.com/user/colepeters">YouTube</a></li>
            <li><%= mail_to 'cole@colepeters.com', "Email" %></li>
        </ul>
    </article>
</section>