<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cole Peters is a designer and noise-maker based in London, England.">
    <meta name="author" content="Cole Peters"
    <meta name="keywords" content="cole peters, design, noise, london, winnipeg, interface design, ui, interaction, typography, web design, writing, designer, code, responsive design, rwd, canadian, minimalism, simplicity"
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>Cole Peters</title>

    <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//cloud.typography.com/7646852/608202/css/fonts.css">
</head>
<body>

<%= yield %>

</body>
</html>
